body, html {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}

main {
  margin-left: 10em;
}

.overflowDisable {
  overflow: hidden;
}

/*******************BURGER MENU********************/
#BurgerMenuWrapper {
  display: block;
  position: fixed;
  padding: 20px;
  top: 47%;
  z-index: 999;
  cursor: pointer;
}

.BurgerMenuLine {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 10px;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.menu.BurgerMenuAnim {
  -webkit-animation: tournerBoutonBurger 2s;
          animation: tournerBoutonBurger 2s;
}

@-webkit-keyframes tournerBoutonBurger {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes tournerBoutonBurger {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu.BurgerMenuAnim .line1 {
  -webkit-transform: translateY(0.5em) rotate(45deg);
          transform: translateY(0.5em) rotate(45deg);
  background-color: #000000;
}

.menu.BurgerMenuAnim .line2 {
  opacity: 0;
  background-color: #000000;
}

.menu.BurgerMenuAnim .line3 {
  -webkit-transform: translateY(-0.5em) rotate(-45deg);
          transform: translateY(-0.5em) rotate(-45deg);
  top: 50%;
  background-color: #000000;
}

.checkBurger {
  display: none;
}

/**************************************************/
/****************SIDE MENU************************/
.MenuContainer {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all cubic-bezier(0, 1.08, 0.58, 1);
  transition: all cubic-bezier(0, 1.08, 0.58, 1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0em;
}

.MenuContainer .laNavigation {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.MenuContainer .menuSocial {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.MenuContainer .menuSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.MenuContainer .menuSocial i {
  font-size: 4em;
  margin: 1em 1em 1em 1em;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
}

.MenuContainer .menuSocial i:hover {
  color: #161616;
}

.MenuContainer .menuSocial i.navContentAnim {
  -webkit-animation: menuLink 2s ease-in-out;
          animation: menuLink 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.MenuContainer.MenuAnimEntrer {
  -webkit-animation: entrerMenu 1s ease-in-out 0s;
          animation: entrerMenu 1s ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.MenuContainer.MenuAnimSortie {
  -webkit-animation: sortieMenu .5s ease-in-out 0s;
          animation: sortieMenu .5s ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes entrerMenu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100%,
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes entrerMenu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100%,
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes sortieMenu {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100%,
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes sortieMenu {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100%,
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.navContainer {
  padding-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 4em;
  margin-right: auto;
}

.navContainer a {
  text-decoration: none;
  color: #161616;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 5px 0 5px 0;
  margin: .5em auto .5em  0;
}

.navContainer a:before, .navContainer a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 5px;
  content: '';
  background: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 1em;
}

.navContainer a:after {
  left: 0px;
  bottom: 0px;
}

.navContainer a:hover:after {
  opacity: 1;
  width: 100%;
}

.navContainer a:nth-child(1) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.navContainer a:nth-child(2) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.navContainer a:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.navContainer a:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.navLink.navContentAnim {
  -webkit-animation: menuLink 1s ease-in-out;
          animation: menuLink 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuLink {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menuLink {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/************************************************/
/*# sourceMappingURL=menu.css.map */