@import "menu";



/****************Presentation********************/
.gridPresentation{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100vh;
}

#presentation{
    color: #ffffff;
    font-size: 4em;
    
    h1{
        animation: presentationAnim 1s  forwards;
        animation-delay: .5s;
        opacity: 0;
    }
}

#portfolio{
    color: #ffffff;
    align-self: end;
    text-align: center;
    margin: 5em 5em 1em 5em;
    font-size: 2em;
    animation: arrowAnim 1s  forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes presentationAnim{
    0%{
        transform: translateY(10vh);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes arrowAnim{
    0%{
        transform: translateY(-5vh);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}



/***********************************************/





/******************PROJETS*********************/

#projets{
    color: #ffffff;
    height: 100vh;
    h2{
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 1em;
    }   
    .projetLayout{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
    }


    

    .projetItem{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 75%;
        transition: .5s;
        cursor: pointer;
        grid-gap: 0em;
        h3{
            color: #ffffff;
            font-size: 2em;
            align-self: center;
        }
        
        .projetImage{
            background-color: green;
        }
    }
    .projetItem:hover{
        background-color: #ffffff;
        color: #000000;

        h3{
            color: #000000;
        }
    }

    .projetInfo{
        display: grid;
        width: 25%;
        grid-template-columns: repeat(2, 1fr);
        color: #000000;
        grid-column-gap: 1em;
        text-align: center;
    .projetInfo:hover{
        color: #ffffff;
    }  

        p{
            font-size: 1.2em;
            margin: .5em 0 .5em 0;
        }

        }
    }


    